<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>stickngo</name>
	<displayName><![CDATA[stickngo]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[The Stick&Go sheets allow you to have in a unique document your order form and your delivery label!]]></description>
	<author><![CDATA[Avery]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
